#menu-wrap {width:100%; height:30px; position:relative; z-index:100;background-color: #EEE;}
/* hack to correct IE5.5 faulty box model */
* html #menu-wrap {width:100%; w\idth:100%}
/* remove all the bullets, borders and padding from the default list styling */
#menu-wrap ul {padding:0;margin:0;list-style-type:none;background-color: #5798d0;}
#menu-wrap li, #menu-wrap a, #menu-wrap div {padding:0;margin:0;}
#menu-wrap ul ul {}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#menu-wrap ul li {float:left;position:relative;}
#menu-wrap ul ul li {width:100%}

/* style the links for the top level */
#menu-wrap ul a, #menu-wrap ul a:visited {
    display:block;
    text-decoration:none; 
    color:#000; 
    line-height:30px;
    padding-left:10px; 
    padding-right: 20px;
    border-right:1px solid #fff; 
}
#menu-wrap ul li:hover a, #menu-wrap ul a:focus, #menu-wrap ul a:active{    
    background-color: #5798D0;           
}
/* a hack so that IE5.5 faulty box model is corrected */
* html #menu-wrap a, * html #menu-wrap a:visited {width:10px; w\idth:10px;padding-right:20px;white-space:nowrap}

/* style the second level background */
#menu-wrap ul ul a, #menu-wrap ul ul a:visited {
    border: 0px;
}

#menu-wrap a.trigger, #menu-wrap a.trigger:hover, #menu-wrap a.trigger:visited {
    background-image: url(../img/cms-nav-dark-s.gif);
    background-repeat: no-repeat;
    background-position: right center;
}


/* hide the sub levels and give them a positon absolute so that they take up no room */
#menu-wrap ul ul {visibility:hidden;position:absolute;height:0;top:30px;left:0; width:149px;}
/* another hack for IE5.5 */
* html #menu-wrap ul ul {top:30px;t\op:30px;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
#menu-wrap table {position:absolute; top:0; left:0; border-collapse:collapse;;}

/* style the second level links */
#menu-wrap ul ul a, #menu-wrap ul ul a:visited {
    color:#000; height:auto; line-height:15px; padding:5px 10px; width:150px;
}
/* yet another hack for IE5.5 */
* html #menu-wrap ul ul a, * html #menu-wrap ul ul a:visited {width:150px;w\idth:128px;}

/* style the top level hover */
#menu-wrap a:hover, #menu-wrap ul ul a:hover{color:#000; background:#5798d0;}
#menu-wrap :hover > a, #menu-wrap ul ul :hover > a {color:#000; background:#B3D9FF;}
          
/* style the second level hover */
#menu-wrap ul ul a:hover{background:#B3D9FF}
#menu-wrap ul ul :hover > a {background:#B3D9FF}
                                  
/* make the second level visible when hover on first level list OR link */
#menu-wrap ul li:hover ul,
#menu-wrap ul a:hover ul{visibility:visible; }


#menu-wrap li div.selected{    
    color: #004D99;
    background-color: #5798d0;
    border-right:1px solid #5798d0;
    padding:5px 10px;
    color: #004D99;
    width: 100%; 
    line-height:20px;
}
#menu-wrap ul ul li a.selected, #menu-wrap li ul li.current-cat a{    
    background-color: #D0D8F0;
    color: #004D99;
}

.cms-nav-clearit {
    clear: both;
    height: 0;
    line-height: 0.0;
    font-size: 0;
}
.cms-nav-sub-section{    
    font-weight:bold;
    font-size: 110%;
    list-style-type: none;
}
ul li.cms-nav-sub-section:before{
    content: '' !important;
}

.cms-nav-left-menu ul, .cms-nav-left-menu li, .cms-nav-left-menu a{
    padding:0;
    margin:0;    
}
.cms-nav-left-menu{
    list-style: none;
    padding:0;
    margin:0;
}
.cms-nav-left-menu li{
    position: relative;
    margin:4px 8px 2px 8px;
}