i.mdi {
	display: inline-block;
	margin-right: 0.8rem;
	vertical-align: middle;
}
i.mdi.right {
	margin-right: 0;
	margin-left: 0.8rem;
}
.material-icons.tiny {
	vertical-align: middle;
	margin-bottom: 4px;
	margin-right: 10px;
}